.qns-main-content {
  background-color: #fff;
  padding: 20px;
  filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.add-btn {
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

.open {
  transition: transform 0.2s ease-in-out;
  transform: rotate(-45deg);
}
