.dashboard-main {
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar stats"
    "sidebar question";
  gap: 30px;
  width: 100%;
  height: 100vh;
}

.dashboard-content {
  padding: 100px;
  display: flex;
  flex: 1;
}

.dashboard-stats {
  grid-area: stats;
  padding-top: 30px;
  padding-right: 30px;
}

.dashboard-questions {
  grid-area: question;
  padding-right: 30px;
  padding-bottom: 30px;
}

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #ffffff;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
