.main-content {
  padding: 15px;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
}

.sub-div {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.sub-div {
  border-right: 1px #f0f0f0 solid;
}
.sub-div:last-child {
  border-right: none;
}

/* good practice to add explicit width and height else the page might jump around sometimes while calculating  */
.sub-div > img {
  width: 84px;
  height: 84px;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.heading {
  color: #acacac;
  font-size: 0.9rem;
}

.stats-number {
  font-weight: bold;
  font-size: 1.8rem;
}

.sub-text {
  font-size: 0.8rem;
}
