.dashboard-main {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar stats stats stats"
    "sidebar question question question";

  gap: 20px;
  width: 100%;
  height: 100vh;
}

.dashboard-content {
  padding: 100px;
  display: flex;
  flex: 1;
}

.dashboard-stats {
  grid-area: stats;
  padding-top: 20px;
  padding-right: 20px;
}

.dashboard-users {
  grid-area: question;
  padding-top: 20px;
  padding-right: 20px;
  /* max-height: fit-content; */
  overflow-y: auto;
}

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #ffffff;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
