name: Docker and GCP Image CI

on:
  push:
    branches: [ "master" ]

jobs:
  build-push-gcr:
    name: Build and push Docker images to GCR
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME:
      PROJECT_ID: oceanic-will-398716

    steps:
    - uses: actions/checkout@v3

    - uses: google-github-actions/setup-gcloud@v0
      with:
        service_account_key: ${{ secrets.SERVICE_ACCOUNT_KEY }}
        project_id: ${{ env.PROJECT_ID }}
        export_default_credentials: true

    - name: Build the UserService image
      run: |
        cd ./user-service
        docker build . --file ./dockerfile --tag rgonslayer/peerprep-user:1.1
        gcloud auth configure-docker
        docker tag rgonslayer/peerprep-user:1.1 gcr.io/${{ env.PROJECT_ID }}/peerprep-user:1.1
        docker push gcr.io/${{ env.PROJECT_ID }}/peerprep-user:1.1

    - name: Build QuestionService image
      run: |
        cd ./question-service
        docker build . --file ./dockerfile --tag rgonslayer/peerprep-question:1.0
        gcloud auth configure-docker
        docker tag rgonslayer/peerprep-question:1.0 gcr.io/${{ env.PROJECT_ID }}/peerprep-question:1.0
        docker push gcr.io/${{ env.PROJECT_ID }}/peerprep-question:1.0

    - name: Build MatchingService image
      run: |
        cd ./matching-service
        docker build . --file ./dockerfile --tag rgonslayer/peerprep-matching:1.0
        gcloud auth configure-docker
        docker tag rgonslayer/peerprep-matching:1.0 gcr.io/${{ env.PROJECT_ID }}/peerprep-matching:1.0
        docker push gcr.io/${{ env.PROJECT_ID }}/peerprep-matching:1.0

    - name: Build AuthService image
      run: |
        cd ./auth-service
        docker build . --file ./dockerfile --tag rgonslayer/peerprep-auth:1.0
        gcloud auth configure-docker
        docker tag rgonslayer/peerprep-auth:1.0 gcr.io/${{ env.PROJECT_ID }}/peerprep-auth:1.0
        docker push gcr.io/${{ env.PROJECT_ID }}/peerprep-auth:1.0
        
    - name: Build ChatService image
      run: |
        cd ./chat-service
        docker build . --file ./dockerfile --tag adrielsoh/peerprep-chat:1.0
        gcloud auth configure-docker
        docker tag rgonslayer/peerprep-chat:1.0 gcr.io/${{ env.PROJECT_ID }}/peerprep-chat:1.0
        docker push gcr.io/${{ env.PROJECT_ID }}/peerprep-chat:1.0
    
    - name: Build HistoryService image
      run: |
        cd ./history-service
        docker build . --file ./dockerfile --tag adrielsoh/peerprep-history:1.0
        gcloud auth configure-docker
        docker tag rgonslayer/peerprep-history:1.0 gcr.io/${{ env.PROJECT_ID }}/peerprep-history:1.0
        docker push gcr.io/${{ env.PROJECT_ID }}/peerprep-history:1.0



  
  build-push-docker-images:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build the UserService image
        run: |
          cd ./user-service
          docker build . --file ./dockerfile --tag rgonslayer/peerprep-user:1.1
          docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
          docker push rgonslayer/peerprep-user:1.1

      - name: Build QuestionService image
        run: |
          cd ./question-service
          docker build . --file ./dockerfile --tag rgonslayer/peerprep-question:1.0
          docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
          docker push rgonslayer/peerprep-question:1.0

      - name: Build MatchingService image
        run: |
          cd ./matching-service
          docker build . --file ./dockerfile --tag rgonslayer/peerprep-matching:1.0
          docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
          docker push rgonslayer/peerprep-matching:1.0
          
      - name: Build AuthService image
        run: |
          cd ./auth-service
          docker build . --file ./dockerfile --tag rgonslayer/peerprep-auth:1.0
          docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
          docker push rgonslayer/peerprep-auth:1.0
          
      - name: Build ChatService image
        run: |
          cd ./chat-service
          docker build . --file ./dockerfile --tag adrielsoh/peerprep-chat:1.0
          docker login -u ${{ secrets.DOCKERHUB_USERNAME_ADRIEL }} -p ${{ secrets.DOCKERHUB_TOKEN_ADRIEL }}
          docker push adrielsoh/peerprep-chat:1.0
      
      - name: Build HistoryService image
        run: |
          cd ./history-service
          docker build . --file ./dockerfile --tag adrielsoh/peerprep-history:1.0
          docker login -u ${{ secrets.DOCKERHUB_USERNAME_ADRIEL }} -p ${{ secrets.DOCKERHUB_TOKEN_ADRIEL }}
          docker push adrielsoh/peerprep-history:1.0


